<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
	<title>Chat App - welcome</title>
</head>

<body>
	<h2 th:text="'# ' + ${channel.channelName}">DummyChannel</h2>
	<input type="hidden" th:field="${channel.id}" id="channelId" />
	<input type="hidden" th:field="${user.username}" id="username" />
	<hr /><br />
	<p style="border:1px; border-style:solid; border-color:rgb(1, 113, 162); padding: 0.5em; width: 50%">
		<span id="chat"></span>
	</p>
	<div>
		<textarea id="chatbox" name="chatbox" rows="2" cols="40" placeholder="type here and hit ENTER"></textarea>	
	</div>
	
	<br />
	<div>
		<span><a th:href="@{'/welcome/'}" th:text="back">back</a></span>
	</div>
	<script type="text/javascript" src="/js/chat.js"></script>
</body>

</html>